* {
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100vh;
    height: 100vh;
}

#root {
    border: 10px solid rgba(180, 226, 255, 0.99);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.rootContent {
    border: 10px solid rgba(101, 255, 78, 0.99);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.robotMap {
    flex: 1 1 auto;
    display: flex;
    border: 5px solid yellow;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #09d3ac;
}
